
    <div class="links-top">
        <a href="/contacts" class="nav-link">Back to contacts</a>
    </div>
    <div class="container">
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle"> Error: {{error}}</i>
        </div>
        {{/if}}
        {{#if contact.owner}}
        <div class="form-container">
            <form method="POST">
                <h1>Send Message SMS</h1>
                {{!-- <input type="text" name="username" placeholder="Username"> --}}
                <textarea name="content" id=""></textarea>
                <button class="form-btn">Send Message to {{contact.name}} ({{contact.phone}})</button>
            </form>
        </div>
        {{else}}
        <div class="form-container">
            <h1>Send Message Twitter</h1>
            <form action="" method="post">
                <textarea name="content" id=""></textarea>
                <button class="form-btn">Send Message to {{contact.name}} (@{{contact.screen_name}})</button>
            </form>
        </div>
        {{/if}}
       
    </div>